#imagen {
    float: left;
}


.margen{
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 90px;
    padding: 10px 10px 10px 10px;
    
}

.formato {
    font-family: "Verdana", "Arial";
    /*letras separadas entre si*/
    text-align: center;
    padding-top: 80px;

  /*  width: 385px;
    height: 80px;*/
}

.clearfix {
    float: none;
    clear: both;
    /*limpia los float*/
}

.centrar{
    align-self: center;
}